<div class="products-container">
  <div class="row">
    <div class="card-list">
      <div class="col-sm-6 col-md-4 col-xs-12">
        <div id="ms" class="card">
          <div id="loading-macro" style="display: block;"><p>Loading...</p></div>
          <img class="ms__img" src="{{ 'img/Macrosine-Logo-Thin-White-RGB.svg' | url }}" alt="Macrosine">  
          <div class="triangle" style="display: none;">
            <img src="{{ 'img/The-blueprint-icon-Arrow.svg' | url }}" alt="arrow"> 
          </div>
          <a href="{{ config.site_url_ms | url }}" title="{{ config.site_url_ms | e }}" class="ms-link" target="_blank" aria-label="{{ config.site_url_ms }}" data-md-component="ms"></a>
        </div>
      </div> 
      <div class="col-sm-6 col-md-4 col-xs-12">
        <div id="p365" class="card">
          <div id="loading-p365" style="display: block;"><p>Loading...</p></div>
          <img class="p365__img" src="{{ 'img/Perimeta-for-365-Logo-White.svg' | url }}" alt="blueprint">  
          <div class="triangle" style="display: none;">
            <img src="{{ 'img/The-blueprint-icon-Arrow.svg' | url }}" alt="arrow"> 
          </div>
          <a href="{{ config.site_url_p365 | url }}" title="{{ config.site_url_p365 | e }}" class="p365-link" target="_blank" aria-label="{{ config.site_url_p365 }}" data-md-component="p365"></a>
        </div>
      </div>  
      <div class="col-sm-6 col-md-4 col-xs-12">
        <div id="cs" class="card">
          <div id="loading-cs" style="display: block;"><p>Loading...</p></div>
          <span id="cs-span" style="display: none;">Consulting / Help to Implement</span>
          <div class="triangle" style="display: none;">
            <img src="{{ 'img/The-blueprint-Question-mark-icon.svg' | url }}" alt="Quesition Mark"> 
          </div>
          <a href="{{ config.site_url_cs | url }}" title="{{ config.site_url_cs | e }}" class="cs-link" target="_blank" aria-label="{{ config.site_url_cs }}" data-md-component="cs"></a>
        </div>
      </div>     
    </div>
  </div>
</div>
<div class="news-container">
  <div class="row">
    <div class="col-sm-12">
      <h2>News</h2>
    </div>
  </div>
  <div class="row">
    <div class="card-list">
      <div class="col-sm-6 col-md-4 col-xs-12">
        <div class="card">
          <a href="{{ config.first_news_link | url }}" title="{{ config.first_news_link | e }}" class="news1-link" aria-label="{{ config.first_news_link }}" data-md-component="news1"></a>
          <div id="loading-news-1" style="display: block;"><p>Loading...</p></div>
          <iframe id="news-iframe-1" src="{{ config.first_news_link | url }}" frameborder="0" scrolling="no" style="display: none;"></iframe>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-xs-12">
        <div class="card">
          <a href="{{ config.second_news_link | url }}" title="{{ config.second_news_link | e }}" class="news2-link" aria-label="{{ config.second_news_link }}" data-md-component="news2"></a>
          <div id="loading-news-2" style="display: block;"><p>Loading...</p></div>
          <iframe id="news-iframe-2" src="{{ config.second_news_link | url }}" frameborder="0" scrolling="no" style="display: none;"></iframe>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-xs-12">
        <div class="card">
          <a href="{{ config.third_news_link | url }}" title="{{ config.third_news_link | e }}" class="news3-link" aria-label="{{ config.third_news_link }}" data-md-component="news3"></a>     
          <div id="loading-news-3" style="display: block;"><p>Loading...</p></div>
          <iframe id="news-iframe-3" src="{{ config.third_news_link | url }}" frameborder="0" scrolling="no" style="display: none;"></iframe> 
        </div>
      </div>
    </div>
  </div>
</div>








 