
<div class="mobile-welcome">
    <div id="counter"></div>
    <div class="mw-loader"><div></div></div>
    <div class="mw-flex-container">
        <div id="mw1"><img id="bp-powered" src="{{ 'img/Powered-by_blue-circle-logo.png' | url }}" alt="Powered by oobe"></div>
        <div id="mw2"><img id="bp-stacked" src="{{ 'img/Blueprint-Stacked-logo.svg' | url }}" alt="The blueprint"></div>
        <div><img id="bp-desktop" src="{{ 'img/desktop-icon.svg' | url }}" alt="desktop"></div>
        <div><h3>Best experienced<br />on a desktop</h3></div>
        <div><button id="mobileScreen" type="button"><span>Continue to mobile</span></button></div>
    </div>
</div>

